* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-text-color: #dbdada;
  --gray-text-color: #b2b1b1;
  --anchor-text-color: #f54e00;
  --background-color: #14120b;
  --headline-font: GeistSans;
}
body {
  background-color: var(--background-color);
  height: 100vh;
  font-family: 'CursorGothic', sans-serif;
  
}
@font-face {
    font-family: 'CursorGothic'; 
    src: url('fonts/CursorGothic_Regular-s.p.a361088d.woff2') format('woff2'),
    font-display: swap;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  width: 100%;
}
.nav-img img {
  width: 120px;
  margin-right: 30px;
  margin-top: 10px;
}
.nav-link {
  margin-left: 100px;
  margin-top: 5px;
}
.nav-link a {
  text-decoration: none;
  color: var(--white-text-color);
  margin: 14px;
  font-size: 15px;
}

.nav-btn a {
  text-decoration: none;
  color: var(--white-text-color);
  margin: 5px;
}

.nav-btn .nav-btn1 {
  font-size: 14px;
  padding: 4px 10px;
  border: 1px solid rgb(74, 73, 73);
  border-radius: 20px;
}
.nav-btn .nav-btn2 {
  background-color: white;
  color: rgb(19, 18, 18);
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 20px;
}
#first-container {
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  margin-left: 120px;
}
#first-container h1 {
  font-size: 25px;
  font-family:
    CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
.first-container-btn {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin-right: 84%;
  margin-top: 2%;
  background-color: white;
  border-radius: 20px;
}
#first-container video {
  margin-right: 130px;
  margin-top: 55px;
}
.second-container h2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 70px;
}
.second-container-img {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 25px;
  margin-bottom: 100px;
}
.stripe {
  background-color: rgb(27, 25, 19);
  width: 140px;
  border-radius: 5px;
  border: 1px solid #211f1f;
  padding: 10px;
}
.openai {
  background-color: rgb(27, 25, 19);
  width: 150px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.linear {
  background-color: rgb(27, 25, 19);
  width: 150px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.datadog {
  background-color: rgb(27, 25, 19);
  width: 150px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.nvidia {
  background-color: rgb(27, 25, 19);
  width: 150px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.figma {
  background-color: rgb(27, 25, 19);
  width: 150px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.ramp {
  background-color: rgb(27, 25, 19);
  width: 150px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.adobe {
  background-color: rgb(27, 25, 19);
  width: 140px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.third-container {
  background-color: rgb(27, 25, 19);
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #211f1f;
  margin-bottom: 100px;
}
.third-container-one {
  margin-top: 65%;
}
.third-container h3 {
  font-size: 22px;
  color: #edecec;
}
.third-container p {
  font-size: 22px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  margin-bottom: 15px;
}
.third-container span {
  color: var(--anchor-text-color);
}
.third-container span:hover {
  color: rgb(165, 53, 1);
}
.third-container img {
  width: 100%;
  border-radius: 5px;
}
.forth-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(27, 25, 19);
  margin-left: 120px;
  margin-right: 120px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #211f1f;
  margin-bottom: 100px;
}
.forth-container-one video {
  width: 100%;
  border-radius: 5px;
}

.forth-container-two {
  margin-left: 40px;
  margin-top: 65%;
}

.forth-container h3 {
  font-size: 22px;
  color: #edecec;
}
.forth-container p {
  font-size: 22px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  margin-bottom: 15px;
}
.forth-container span {
  color: var(--anchor-text-color);
}
.forth-container span:hover {
  color: rgb(165, 53, 1);
}
.fifth-container {
  background-color: rgb(27, 25, 19);
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #211f1f;
  margin-bottom: 100px;
}
.fifth-container-one {
  margin-top: 65%;
}
.fifth-container h3 {
  font-size: 22px;
  color: #edecec;
}
.fifth-container p {
  font-size: 22px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  margin-bottom: 15px;
}
.fifth-container span {
  color: var(--anchor-text-color);
}

.fifth-container span:hover {
  color: rgb(165, 53, 1);
}
.fifth-container img {
  width: 100%;
  border-radius: 5px;
}
.sixth-container {
  margin-bottom: 150px;
}
.sixth-container h1 {
  text-align: center;
  color: var(--white-text-color);
  font-size: 30px;
  margin-bottom: 50px;
}
.sixth-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--white-text-color);
  gap: 10px;
  margin-left: 120px;
  margin-right: 120px;
  position: relative;
}
.sixth-container-cards .first {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.first p {
  margin-bottom: 80px;
}
.first img {
  width: 40px;
  border-radius: 4px;
  margin-bottom: -5px;
}
.first h6 {
  position: absolute;
  left: 70px;
  top: 180px;
  font-size: 14px;
}
.first span {
  color: var(--gray-text-color);
  position: absolute;
  left: 70px;
  top: 200px;
  font-size: 14px;
}
.first span:hover {
  color:  rgb(165, 53, 1);
}
.sixth-container-cards .second {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.second img {
  width: 40px;
  border-radius: 4px;
  margin-bottom: -5px;
}
.second p {
  margin-bottom: 100px;
}
.second h6 {
  position: absolute;
  left: 500px;
  font-size: 14px;
  top: 180px;
}
.second span {
  color: var(--gray-text-color);
  position: absolute;
  left: 500px;
  top: 200px;
  font-size: 14px;
}
.second span:hover {
  color:  rgb(165, 53, 1);
}
.sixth-container-cards .third {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.third img {
  width: 40px;
  border-radius: 4px;
  margin-bottom: -5px;
}

.third p {
  margin-bottom: 58px;
}
.third h6 {
  position: absolute;
  left: 930px;
  font-size: 14px;
  top: 180px;
}
.third span {
  color: var(--gray-text-color);
  position: absolute;
  left: 930px;
  top: 200px;
  font-size: 14px;
}
.third span:hover {
  color:  rgb(165, 53, 1);
}
.sixth-container-cards .forth {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.forth p {
  margin-bottom: 73px;
}
.forth img {
  width: 40px;
  border-radius: 4px;
  margin-bottom: -5px;
}
.forth h6 {
  position: absolute;
  left: 70px;
  top: 450px;
  font-size: 14px;
}
.forth span {
  color: var(--gray-text-color);
  position: absolute;
  left: 70px;
  top: 470px;
  font-size: 14px;
}
.forth span:hover {
  color: rgb(165, 53, 1);
}
.sixth-container-cards .fifth {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.fifth img {
  width: 40px;
  border-radius: 4px;
  margin-bottom: -5px;
}
.fifth p {
  margin-bottom: 73px;
}
.fifth h6 {
  position: absolute;
  left: 500px;
  font-size: 14px;
  top: 450px;
}
.fifth span {
  color: var(--gray-text-color);
  position: absolute;
  left: 500px;
  top: 470px;
  font-size: 14px;
}
.fifth span:hover {
  color: rgb(165, 53, 1);
}
.sixth-container-cards .sixth {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.sixth img {
  width: 40px;
  border-radius: 4px;
  margin-bottom: -5px;
}

.sixth p {
  margin-bottom: 94px;
}
.sixth h6 {
  position: absolute;
  left: 930px;
  font-size: 14px;
  top: 450px;
}
.sixth span {
  color: var(--gray-text-color);
  position: absolute;
  left: 930px;
  top: 470px;
  font-size: 14px;
}
.sixth span:hover {
  color: rgb(165, 53, 1);
}
.seventh-container {
  margin-bottom: 150px;
}
.seventh-container h2 {
  color: var(--white-text-color);
  margin-left: 120px;
  margin-bottom: 25px;
}
.seventh-container-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-left: 120px;
  margin-right: 120px;
}

.card-first {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.card-first h3 {
  color: var(--white-text-color);
}
.card-first p {
  color: var(--gray-text-color);
  margin-bottom: 25px;
}
.card-first a {
  text-decoration: none;
  color: var(--anchor-text-color);
  margin-bottom: 25px;
}
.card-first a:hover {
  color:  rgb(165, 53, 1);
}
.card-first video {
  margin-top: 25px;
  width: 100%;
}
.card-second {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.card-second h3 {
  color: var(--white-text-color);
}
.card-second p {
  color: var(--gray-text-color);
  margin-bottom: 25px;
}
.card-second a {
  text-decoration: none;
  color: var(--anchor-text-color);
  margin-bottom: 25px;
}
.card-second a:hover {
  color: rgb(165, 53, 1);
}
.card-second video {
  margin-top: 25px;
  width: 100%;
}
.card-third {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.card-third h3 {
  color: var(--white-text-color);
}
.card-third p {
  color: var(--gray-text-color);
  margin-bottom: 25px;
}
.card-third a {
  text-decoration: none;
  color: var(--anchor-text-color);
  margin-bottom: 25px;
}
.card-third a:hover {
  color:  rgb(165, 53, 1);
}
.card-third img {
  width: 100%;
  margin-top: 25px;
}
.eight-container {
  margin-bottom: 200px;
}
.eight-container h2 {
  color: var(--white-text-color);
  margin-left: 120px;
  margin-bottom: 20px;
  font-size: 25px;
}
.eight-container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.eight-container-cards span {
  color: var(--gray-text-color);
  padding: 0px 8px;
  border: 1px solid #646262;
  border-radius: 12px;
}
.eight-container-cards time {
  color: var(--gray-text-color);
}
.eight-container-cards p {
  margin-top: 15px;
  color: var(--white-text-color);
  margin-bottom: 10px;
}

.eight-frist-card {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}

.eight-second-card {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.eight-third-card {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.eight-forth-card {
  background-color: rgb(27, 25, 19);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #211f1f;
}
.eight-container a {
  text-decoration: none;
  color: var(--anchor-text-color);
  margin-left: 102px;
  font-size: 16px;
}
.eight-container a:hover {
  color:  rgb(165, 53, 1);
}
.nineth-container {
  background-color: rgb(27, 25, 19);
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #211f1f;
  margin-bottom: 100px;
}
.nineth-container-one {
  margin-top: 45%;
}
.nineth-container h3 {
  font-size: 20px;
  color: #edecec;
  margin-bottom: 15px;
}

.nineth-container span {
  color: var(--anchor-text-color);
  font-size: 18px;
}
.nineth-container span:hover {
  color:  rgb(165, 53, 1);
}
.nineth-container img {
  width: 100%;
  border-radius: 5px;
}

.tenth-container {
  background-color: rgb(27, 25, 19);
  position: relative;
}
.tenth-container h2 {
  color: var(--white-text-color);
  font-size: 17px;
  position: absolute;
  top: 50%;
  right: 81%;
}
.tenth-container h3 {
  color: var(--white-text-color);
}
.tenth-container p {
  color: var(--gray-text-color);
  margin-bottom: 15px;
}
.tenth-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin-bottom: 15px;
}

.tenth-one {
  width: 640px;
  background-color: rgb(33, 31, 31);
  border-radius: 5px;
  border: 1px solid #211f1f;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  padding-bottom: 0px;
}
.tenth-one:hover {
  background-color: rgb(39, 37, 37);
}
.tenth-two {
  background-color: rgb(33, 31, 31);
  border-radius: 5px;
  border: 1px solid #272626;
  padding: 15px;
  margin-bottom: 10px;
  width: 640px;
  font-size: 14px;
  padding-bottom: 0px;
}
.tenth-two:hover {
  background-color: rgb(39, 37, 37);
}
.tenth-three {
  width: 640px;
  background-color: rgb(33, 31, 31);
  border-radius: 5px;
  border: 1px solid #211f1f;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  padding-bottom: 0px;
}
.tenth-three:hover {
  background-color: rgb(39, 37, 37);
}
.tenth-container a {
  text-decoration: none;
  color: var(--anchor-text-color);
  font-size: 15px;
  margin-left: 450px;
  position: absolute;
  top: 85%;
}
.tenth-container a:hover {
  color:  rgb(165, 53, 1);
}
.eleventh-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 125px;
}
.eleventh-container h1 {
  font-size: 68px;
  color: white;
  margin-top: 125px;
}
.eleventh-container-btn {
  text-decoration: none;
  color: black;
  padding: 10px 20px;

  margin-top: 2%;
  background-color: white;
  border-radius: 20px;
}
.footer-container {
  background-color: rgb(27, 25, 19);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 80px;
}
.footer-column {
  margin-left: 75px;
}
.footer-column h3 {
  color: var(--gray-text-color);
  font-size: 14px;
  margin-bottom: 8px;
}
.footer-column li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--white-text-color);
  margin-bottom: 8px;
}
.end {
  background-color: rgb(27, 25, 19);
  padding: 50px;
}
.end .footer-1 {
  text-decoration: none;
  color: var(--gray-text-color);
  margin: 10px;
  margin-left: 120px;
}
.end .footer-2 {
  color: var(--gray-text-color);
  text-decoration: none;
}
.end img {
  width: 300px;
  margin-left: 42%;
}
